@CHARSET "UTF-8";

#bbswrite_wrap{
	width:570px; height:412px;
	margin-top:70px; margin-left:auto; margin-right:auto;
	border:1px solid blue; border-radius:20px;
	box-shadow:15px 15px 15px red;
}
#bbswrite_wrap .bbswrite_title{
	margin:20px 0 0 220px; width:140px; border-radius:15px;
	font-size:20px; background:skyblue; text-align:center;
	padding:3px;
}
#bbswrite_t{margin:20px 0 0 50px;}
#bbswrite_wrap th{background:skyblue; border-radius:15px;}
#bbswrite_menu{
	margin:20px 0 0 220px;
}

/* list */
#bbslist_wrap{
	width:560px; height:550px; margin-top:70px;
	margin-left:auto; margin-right:auto;
	border:1px solid blue; border-radius:20px;
	box-shadow:15px 15px 15px #ccc;
}
#bbslist_wrap .bbslist_title{
	margin:20px 0 0 220px; width:120px; padding:3px;
	background:skyblue; border-radius:15px;font-size:20px;
	text-align:center;
}
#bbslist_c{
	margin:15px 0 0 430px;
}
#bbslist_t{
	margin:15px 0 0 40px;
}
#bbslist_paging{
	margin:13px 0 0 190px;
}
#bbslist_w{
	margin:13px 0 0 450px;
}

/* content */
#bbscont_wrap{
	padding:30px; margin-top:70px;
	margin-left:auto; margin-right:auto;
	border:1px solid blue; border-radius:20px;
	box-shadow:15px 15px 15px red; width:400px;
}
#bbscont_wrap .bbscont_title{
	margin:0 0 0 115px; width:170px; padding:3px;
	font-size:20px; text-align:center; background:skyblue;
	border-radius:15px;
}

#bbscont_t{
	margin:15px 0 0 30px;
}
#bbscont_t th{background:skyblue; border-radius:15px;}
#bbscont_menu{
	margin:15px 0 0 90px;
}

/* delete */
#del_wrap{
	width:250px; height:180px; margin-top:70px;
	margin-left:auto; margin-right:auto;
	border:1px solid blue; border-radius:20px;
	box-shadow:15px 15px 15px red;
}
#del_wrap .del_title{
	margin:20px 0 0 70px; width:120px; background:skyblue;
	border-radius:15px; text-align:center; font-size:20px;
	padding:3px;
}
#del_t{
	margin:20px 0 0 30px;
}
#del_t th{
	background:skyblue; border-radius:15px;
}
#del_menu{
	margin:23px 0 0 80px;
}

/* find */
#bbsfind{
	margin:26px 0 0 143px;
}

/* rate */
.starpoint_wraps{display:inline-block;}
.starpoint_boxs{position:relative;background:url(star_rating.png) 0 0 no-repeat;font-size:0;}
.starpoint_boxs .starpoint_bg{display:block;position:absolute;top:0;left:0;height:18px;background:url(star_rating.png) 0 -20px no-repeat;pointer-events:none;}
.starpoint_boxs .label_star{display:inline-block;width:10px;height:18px;box-sizing:border-box;}
.starpoint_boxs .star_radio{opacity:0;width:0;height:0;position:absolute;

	pointer-events: none;
}
.starpoint_boxs .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.starpoint_boxs .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%;}
.starpoint_boxs .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.starpoint_boxs .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%;}
.starpoint_boxs .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.starpoint_boxs .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%;}
.starpoint_boxs .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.starpoint_boxs .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%;}
.starpoint_boxs .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.starpoint_boxs .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%;}
.starpoint_boxs .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
.starpoint_boxs .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%;}
.starpoint_boxs .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
.starpoint_boxs .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%;}
.starpoint_boxs .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
.starpoint_boxs .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%;}
.starpoint_boxs .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
.starpoint_boxs .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%;}
.starpoint_boxs .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
.starpoint_boxs .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%;}

.blind{position:absolute;clip:rect(0 0 0 0);margin:-1px;width:1px;height: 1px;overflow:hidden;}